<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy.MM.dd HH:mm:ss z} %-5level %c - %msg%xEx%n" />
		</Console>
	</Appenders>

	<Loggers>
		<!-- 项目所有日志输出到控制台 -->
		<Root level="DEBUG" name="com">
			<appender-ref ref="Console" />
		</Root>
		<Root level="ERROR" name="com">
			<appender-ref ref="Console" />
		</Root>
	</Loggers>
</configuration>